.card {
    border: 0;
    margin-bottom: 1em;
}

.card:hover {
    /* box-shadow: 0 30px 50px rgba(0,0,0,0.12), 0 10px 20px rgba(0,0,0,0.24) !important;
    z-index: 10; */
}

.project-list-title-holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.amount {
    margin: 0 5px; 
    padding: 5px; 
    background: chocolate; 
    font-weight: 900; 
    color: white; 
    padding-top: 3px; 
    margin-left: 0px; 
    border-radius: .25rem;
}

.container-title {
    /* text-align: center;  */
    /* padding-top: .5em; */
}

.grant-list {
    display: flex;
    flex-wrap: wrap; 
}

section header h1 {
    font-size: 1.8em;
    margin: 0 0 .8em;
}

article header h1 {
    font-size: 1.8em;
    margin: 0 0 .8em;
}

article header h2 {
    font-size: 1.4em;
    margin: 0 0 .4em;
}

article h1 {
    font-size: 1.6em;
    margin: 0 0 .6em;
}

article h2 {
    font-size: 1.4em;
    margin: 0 0 .4em;
}

article h3 {
    font-size: 1.2em;
    margin: 0 0 .2em;
}

.schedule {
    color: #8e8e91;
}

a {
    /* text-decoration: underline; */
    color: #134E84
}

h1 {
    font-size: 1.8rem;
}

.index p {
    color: dimgray
}

.logo h1 {
    font-family: 'Comfortaa', cursive;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.8em;
    display:inline-block;
}

.logo img {
    width: 1em;
    margin: .3em 1em .3em 0;
}