{{ $color := .Params.color }}
<article class="card card-body">
    <div class="row">
        <div class="col-md-2" style="margin: auto;">
            <img src="img/budget/{{ .Params.icon }}" class="card-img" alt="...">
        </div>
        <div class="col-md-10">
            <header>
                <h2>
                    {{ .Params.title }}
                </h2>
            </header>
            <div class="row">
                <div class="col-md-6" style="border-right: solid 1px lightgrey;">
                    <p class="card-text">
                        <span class="amount" style="background-color: {{ $color }};">
                            {{ .Params.commonExpenses.amount }}€
                        </span>
                        <span style="color: {{ $color }};  font-weight: bold">
                            {{ .Params.commonExpenses.title }}
                        </span>
                        {{ if .Params.commonExpenses.list  }}
                        {{ range .Params.commonExpenses.list }}
                    <div>
                        {{ if .link  }}
                        <a href="{{.Params.link}}" style="color: black"><span
                                style="font-weight: 900; color:  {{ $color }}">
                                {{ substr .title 0 1 }}</span>{{ substr .title 1 }}</a>
                        {{ else }}
                        <span style="font-weight: 900; color:  {{ $color }}">
                            {{ substr .title 0 1 }}</span>{{ substr .title 1 }}
                        {{ end }}
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
                <div class="col-md-6">
                    <p class="card-text">
                        <span class="amount" style="background-color: {{ $color }};">
                            {{ .Params.capitalExpenses.amount }}€
                        </span>
                        <span style="color: {{ $color }}; font-weight: bold">
                            {{ .Params.capitalExpenses.title }}
                        </span>
                        {{ if .Params.capitalExpenses.list  }}
                        {{ range .Params.capitalExpenses.list }}
                        {{ if .cancel }}
                    <div style="text-decoration: line-through;">
                        {{ else }}
                        <div>
                            {{ end }}
                            {{ if .link  }}
                            <a href="{{.link}}"><span style="font-weight: 900; color:  {{ $color }}">
                                    {{ substr .title 0 1 }}</span>{{ substr .title 1 }}</a>
                            {{ else }}
                            <span style="font-weight: 900; color:  {{ $color }}">
                                {{ substr .title 0 1 }}</span>{{ substr .title 1 }}
                            {{ end }}
                        </div>
                        {{ end }}
                        {{ end }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
</article>