<article class="article">
  <header>
      <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
    {{ if .Params.amount }}<span class="amount">{{ .Params.amount }}€</span>{{ end }}
  </header>
  <div class="row">
    {{- if .Params.icon }}
    <div class="col-md-3" style="margin: auto;">
      <img src="{{ .Params.icon }}" class="preview card-img" alt="...">
    </div>
    <div class="col-md-9">
      <p class="card-text">
        {{ .Params.description }}
      </p>
    </div>
    {{- else }}
    <div class="col-md-12">
      <p class="card-text">
        {{ .Params.description }}
      </p>
    </div>
    {{- end }}
  </div>
</article>